{% extends 'base.html' %}


{% block content %}



<div class="card">
	<div class="card-header">
		<b>{{ customer_record.first_name }} {{ customer_record.last_name }}</b>

	</div>
	<div class="card-body">
		<p class="card-text"><b>Customer ID: </b>{{ customer_record.id }}</p>
		<p class="card-text"><b>Email Address: </b>{{ customer_record.email }}</p>
		<p class="card-text"><b>Phone Number: </b>{{ customer_record.phone }}</p>
		<p class="card-text"><b>City: </b>{{ customer_record.city }}</p>
		<p class="card-text"><b>Zip Code: </b>{{ customer_record.zip_code }}</p>
		<p class="card-text"><b>Address: </b>{{ customer_record.address }}</p>
		<p class="card-text"><b>Registered At: </b>{{ customer_record.created_at }}</p>

	</div>

	<div class="card-footer">
		<!-- Edit record -->
		<a href="{% url 'update_record' customer_record.id %}" class="btn btn-primary">Edit</a>

		<!-- Delete record -->
		<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>

	</div>
</div>

<br>
<br>

<!-- Back to homepage -->
<a href="{% url 'record_list' %}" class="btn btn-secondary">Back</a>










{% endblock %}