{% extends 'base.html' %}

{% block content %}



<div class="card">
	<div class="card-header">
		<b>{{ view_ticket.title }}</b>

	</div>

	<div class="card-body">
		<p class="card-text"><b>Ticket ID: </b>{{ view_ticket.id }}</p>
		<p class="card-text"><b>Description: </b>{{ view_ticket.description }}</p>
		<p class="card-text"><b>Status: </b>{{ view_ticket.status }}</p>
		<p class="card-text"><b>Priority: </b>{{ view_ticket.priority }}</p>
		<p class="card-text"><b>Notes: </b>{{ view_ticket.notes }}</p>
		<p class="card-text"><b>Created At: </b>{{ view_ticket.created_at }}</p>
		<p class="card-text"><b>Last updated: </b>{{ view_ticket.last_updated }}</p>

	</div>

	<div class="card-footer">
		<!-- Edit ticket -->
		<a href="{% url 'update_ticket' view_ticket.id %}" class="btn btn-primary">Edit</a>

		<!-- Delete ticket -->
		<a href="{% url 'delete_ticket' view_ticket.id %}" class="btn btn-danger">Delete</a>

	</div>

</div>

<br>
<br>

<div class="d-grid gap-2 col-6 mx-auto">
	<a href="{% url 'ticket_list' %}" class="btn btn-secondary">Back</a>
</div>

<br>
<br>









{% endblock %}